RepoLibrary/ApplicationServerListener/Service References/RepoLibraryReference/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RepoLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RepoLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Project">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExpirationDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Settings" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="apiUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstExpiredLogin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="keyHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subscribtionStartDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="trialEndDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Project" nillable="true" type="tns:Project" />
</xs:schema>