RepoLibrary/WCFTestClient/Service References/RepoLibraryReference/RepoLibrary.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RepoLibrary" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://constructor.cloudapp.net/RepoLibrary.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://constructor.cloudapp.net/RepoLibrary.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://constructor.cloudapp.net/RepoLibrary.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RepoLibraryServiceWebRole" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRepoLibrary_GetProject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProject" />
  </wsdl:message>
  <wsdl:message name="IRepoLibrary_GetProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IRepoLibrary_SaveProject_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveProject" />
  </wsdl:message>
  <wsdl:message name="IRepoLibrary_SaveProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveProjectResponse" />
  </wsdl:message>
  <wsdl:portType name="IRepoLibrary">
    <wsdl:operation name="GetProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IRepoLibrary/GetProject" message="tns:IRepoLibrary_GetProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRepoLibrary/GetProjectResponse" message="tns:IRepoLibrary_GetProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IRepoLibrary/SaveProject" message="tns:IRepoLibrary_SaveProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRepoLibrary/SaveProjectResponse" message="tns:IRepoLibrary_SaveProject_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRepoLibrary" type="tns:IRepoLibrary">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProject">
      <soap:operation soapAction="http://tempuri.org/IRepoLibrary/GetProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProject">
      <soap:operation soapAction="http://tempuri.org/IRepoLibrary/SaveProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RepoLibrary">
    <wsdl:port name="BasicHttpBinding_IRepoLibrary" binding="tns:BasicHttpBinding_IRepoLibrary">
      <soap:address location="http://constructor.cloudapp.net/RepoLibrary.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>